:root{
    --main-color:tomato;
    --main-padding: 70px;
    --font-color:#777;
}

*{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a{
    color: unset;
}
html{
    scroll-behavior: smooth;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media(max-width:768px){
    .container{
        max-width: 95%;
    }
}
@media(min-width:768px){
    .container{
        width: 750px;
    }
}
@media(min-width:992px){
    .container{
        width: 970px;
    }
}
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* end global rules */

/* start components */
/* start-first component */
.main-heading{
    text-align: center;
    margin-bottom: 80px;
}
.main-heading h3{
    text-transform: capitalize;
    font-size: 30px;
    padding-bottom: 15px;
    letter-spacing: 1px;
}
.main-heading p{
    color: var(--font-color);
}
@media (max-width:768px){
    .main-heading h3{
        font-size: 25px;
    }
    .main-heading{
        margin-bottom: 40px;
    }
}
/* end-first component */


/* start-nd component */
.button{
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    padding: 10px 15px;
    transition: 0.15s;
    position: relative;
    cursor: pointer;
}
.button:hover{
    background-color: tomato;
    border-color: tomato;
    box-shadow: 0px 0px 30px 5px tomato;
}
/* end-nd component */

/* end components */

/* start landing */
.landing{
    margin-bottom: var(--main-padding);
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url("../imgs/banner.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 60vh;
    position: relative;
    overflow: hidden;
}
.landing .nav{
    padding-top: 30px;
    display: flex;
    align-items: center;
}
.landing .nav .logo{
    height: 50px;
}
.landing .nav ul{
    flex: 1;
    text-align: right;
}
.landing .nav li{
    display: inline-block;
    margin: 0 15px;
}
.landing .nav li a{
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    position: relative;
    padding-bottom: 3px;
}
@media (max-width:768px){
    .landing .nav .logo{
        height: 40px;
    }
    .landing .nav ul{
        background-color: var(--main-color);
        width: 200px;
        height: 100vh;
        text-align: left;
        color: white;
        position: absolute;
        z-index: 2;
        top: 0;
        right: -200px;
        transition: 0.3s;
    }
    .landing .nav ul .close-icon{
        margin: 10px;
        font-size: 19px;
    }
    .landing .nav .open-icon{
        color: white;
        font-size: 20px;
        flex: 1;
        text-align: right;
    }
    .landing .nav li{
        display: block;
        margin-top: 30px;
        margin-left: 30px;
    }
}
/*----------------media height  -----------*/
@media (max-height:400px){
    .landing .nav .logo{
        height: 40px;
    }
    .landing .nav ul{
        background-color: var(--main-color);
        width: 200px;
        height: 100vh;
        text-align: left;
        color: white;
        position: absolute;
        z-index: 2;
        top: 0;
        right: -200px;
        transition: 0.3s;
    }
    .landing .nav ul .close-icon{
        margin: 10px;
        font-size: 19px;
    }
    .landing .nav .open-icon{
        color: white;
        font-size: 20px;
        flex: 1;
        text-align: right;
    }
    .landing .nav li{
        display: block;
        margin-top: 30px;
        margin-left: 30px;
    }
}
/*----------------end media height  -----------*/


@media(min-width:768px){
    .landing .nav li a::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgb(252, 76, 76);
        width: 0;
        height: 2px;
        transition: 0.15s;
    }
    .landing .nav li a:hover::after{
        width: 100%;
        box-shadow: 0px 0px 5px 1px tomato;
    }
    .landing .nav ul .close-icon{
        display: none;
    }
    .landing .nav .open-icon{
        display: none;
    }
}
.landing .text{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 90%;
}
.landing .text h1{
    font-size: 45px;
    margin-bottom: 0;
    text-transform: capitalize;
}
/* ---------start media height--------- */
@media (max-height:400px){
    .landing .text h1{
        font-size: 40px;
    }
    .landing .text a{    
        padding: 5px 10px;
        transition: 0s;
        position: relative;
    }
    .landing .nav .open-icon{
        display: block;
    }
    .landing .nav ul .close-icon{
        display: block;
    }
}
/* ---------end media height--------- */

@media (max-width:768px){
    .landing .text h1{
        font-size: 30px;
    }
    .landing .text a{    
        padding: 5px 10px;
        transition: 0s;
        position: relative;
    }
}
/* end landing */

/*start find */

.find{
    padding-bottom: var(--main-padding);
}
.find .map{
    max-width: 100%;
    margin: 0 auto 60px;
}
.find .map iframe{
    width: 100%;
    height: 500px;
}
@media (max-width:768px){
    .find .map iframe{
        height: 250px;
    }
    .find .map{
        margin-bottom: 20px;
    }
}

/*end find */

.address-contact-container{
    display: flex;
    justify-content: space-between;
}
@media (max-width:768px){
    .address-contact-container{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}
/* start comment */
.leave-comment{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid tomato;
}
.leave-comment .comment-form-content h4{
    text-transform: capitalize;
    margin-bottom: 20px;
    font-size: 18px;
    color: #444;
}
.leave-comment .comment-form-content .input:focus{
    outline-color: tomato;
    outline-width: 1px;
}
.leave-comment .comment-form-content .input{
    width: 100%;
    border: 1px solid #eee;
}
.leave-comment .comment-form-content{
    display: block;
    padding: 18px;
}
.leave-comment .comment-form-content input{
    margin-bottom: 10px;
    margin-top: 10px;
    height: 40px;
}
.leave-comment .comment-form-content .input::placeholder{
    padding: 8px;
    color: #999;
    text-transform: capitalize;
}
.leave-comment .comment-form-content textarea{
    height: 140px;
    margin-bottom: 20px;
}
.leave-comment .comment-form-content .button{
    display: block;
    color: #333;
    border: tomato;
    margin-left: auto;
}
/*end comment */

/* start address */

.address-contact-container .row{
    margin: 50px 40px;
    display: flex;
    align-items: center;
}
.address-contact-container .row p{
    line-height: 1.4;
}
.address-contact-container .row p em{
    color: #777;
}
.address-contact-container .row p strong{
    text-transform: capitalize;
}
.address-contact-container .row i{
    color: tomato;
    font-size: 26px;
    margin-right: 30px;
}
/* end address */

/* start footer */
.footer .content{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../imgs/banner.png");
    background-size: cover;
    padding: 10px 10px;
    text-align: center;
    color: white;
    text-transform: capitalize;
    font-size: 18px;
}
.footer .content p{
    padding-top: 8px;
    padding-bottom: 4px;
}
.footer .content .copy i{
    color: tomato;
    font-size: 19px;
    margin-right: 5px;
}
.footer .content p span{
    color: tomato;
}
.footer .content p:not(.copy){
    font-size: 13px;
    letter-spacing: 2px;
}
.footer .content p span i{
    color: white;
    font-size: 19px;
}
/* end footer */